.clearSkyDay {
    background-image: linear-gradient(120deg, #87CEEB, #FFF8E7);
    animation: gradient-animation 10s ease infinite;
}

.clearSkyNight {
    background-image: linear-gradient(120deg, #191970, #4B0082);
    animation: gradient-animation 10s ease infinite;
}

.stormDay {
    background-image: linear-gradient(120deg, #191970, #4B0082);
    animation: gradient-animation 10s ease infinite;
}

.stormNight {
    background-image: linear-gradient(120deg, #191970, #8B0000);
    animation: gradient-animation 10s ease infinite;
}

.rainDay {
    background-image: linear-gradient(120deg, #A9A9A9, #32CD32);
    animation: gradient-animation 10s ease infinite;
}

.rainNight {
    background-image: linear-gradient(120deg, #2F4F4F, #228B22);
    animation: gradient-animation 10s ease infinite;
}

.cloudsNight {
    background-image: linear-gradient(140deg, #2e2e3c, #55565b, #394057, #111522);
    animation: gradient-animation 8s ease infinite;
}

.cloudsDay {
    background-image: linear-gradient(120deg, #7a8183, #d3d3d3);
    animation: gradient-animation 10s ease infinite;
    color: #2F4F4F;
}

.cloudsNight .Stats, .cloudsNight .NextDays p {
    color: #fff;
}

.snowNight {
    background-image: linear-gradient(120deg, #b6b5b5, #cbe0e0);
    animation: gradient-animation 10s ease infinite;
    color: #000000;
}

.snowDay {
    background-image: linear-gradient(120deg, #FFFFFF, #e5eff8);
    animation: gradient-animation 10s ease infinite;
    color: #2F4F4F;
}

.fogDay {
    background-image: linear-gradient(120deg, #D3D3D3, #90EE90);
    animation: gradient-animation 10s ease infinite;
    color: #2F4F4F;
}

.fogNight {
    background-image: linear-gradient(120deg, #2F4F4F, #176417);
    animation: gradient-animation 10s ease infinite;
    color: #000000;
}

.WeatherPanel {
    border-radius: 16px;
    border: 1px solid #5d5d5d;
}

@keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.Header {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 11px;
}

.Header h1 {
    margin: 3.5rem 2rem;
    flex: 1;
    text-align: center;
}

.Header svg {
    margin: 0 30px 30px 0;
    cursor: pointer;
}
.Header svg:hover {
    stroke: rgb(51, 51, 51);
}
/***************************/
/*SECTION - MAININFO
/***************************/
.MainInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    width: 85%;
    height: 10rem;
}

/***************************/
/*SECTION - IMG ICON`
/***************************/
.Image {
    margin: 10px 110px 0 auto;
    max-height: 100px;
    max-width: 100px;
}

.Image svg {
    width: 250%;
    height: 250%;
}

/***************************/
/*SECTION - INFO - temp & desc*/
/***************************/
.Info {
    padding-top: 30px;
}

.Info h3 {
    margin: 0;
    font-size: 40px;
    line-height: 2.5rem;
}

.Info p {
    text-align: left;
    padding-bottom: 10px;
    margin: 0;
    font-size: 20px;
}

/***************************/
/*SECTION - STATS*/
/***************************/
.Stats {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.Stats div {
    background-color: rgba(217, 217, 217, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 1px 10px 4px 0;
    width: 25%;
    border-radius: 16px;
}

.Stats svg {
    padding-top: 5px;
}

.Stats p {
    margin-top: 8px;
}

/***************************/
/*SECTION - NEXT 3 DAYS*/
/***************************/
.NextDays {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 45px;
}

.NextDays > div:not(.NextDaysIcon) {
    background-color: rgba(217, 217, 217, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 1px 10px 4px 0;
    border-radius: 16px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.NextDaysIcon {

}

.NextDays h2 {
    margin: 0;
}

.NextDays p {
    font-size: 18px;
    font-weight: 700;
}
